// Add additional styles here. For example, overwrite certain styles or add new components.
// Tip: You can use bootstrap's powerful mixins here!


//.alert-myalert {
//  @include alert-variant(#60667d, #1d1d1d, #f4fdff);
//}

//@each $color, $value in $theme-colors {
//  .alert-#{$color} {
//    box-shadow: 3px 3px theme-color-level($color, -3);
//  }
//}

@font-face {
font-family: 'fixedsys';
font-style: normal;
font-weight: normal;
src: url('../fonts/FSEX300.woff') format('woff'),
	 url('../fonts/FSEX300.woff')  format('truetype');
}
body{
	font-family: 'fixedsys';
	background-color: $negro;
	color:	$griz;

	::selection {
	  color: $negro; 
	  background: $amarillo;
	}
	.amarillo{
		color: $amarillo;
	}
	.verde{
		color:$verde;
	}
	.azul{
		color: $azul;
	}
	a{
		text-decoration: none !important;
		color: $griz;

	}
	a.active{
			background-color: $amarillo;
			color:#0600AF;
			padding: 0 5px;
	}
	
	.resaltado{
		background-color:$verde;
		color: $negro;
		    margin-right: 5px;
	}
	.progress{
		border: 2px solid;
    	border-radius: 0px;
    	height: 30px;
    	background-color: $negro;
    	width: 40%;
    	margin: 0 auto;

    	.progress-bar {
		    background-color: $griz;
		}
	}
	.fixed{
		background-color:$negro;
		display: block !important;
		position: fixed;
	    width: 100%;
	    max-width: 1520px;
	    top: 0;
	    z-index: 100;
	    transition: all 1s ease-in-out;
	}
	.nav-fixed{
		/*background-color:$negro;*/
		display: none;
		transition: all 1s ease-in-out;

		.menu{
			ul{
				display: inline-flex;
				li{
					margin:0 10px;
				}
			}
		}
	}
	fieldset {
	    border-top: 2px dashed;
	    border-bottom: 2px dashed;
	    background: url(../img/linea-vertical-quienes-somos-16.svg), url(../img/linea-vertical-quienes-somos-16.svg);
    	background-position: left top, right top;
    	background-repeat-x: no-repeat;
	    /* padding: 3em; */
	    legend {
		    text-align: center;
		    width: 20%;
		}
	}
	.nombre-team{
		left: -25%;
	    display: block;
	    position: relative;
	    top: -15%;
	    z-index: 2;
	    background-color: #000;
	    width: fit-content;
	    padding: 0 10px 0 0;
	    @media screen and (max-width: 991px){
		    	left: -3%;
		}

		hr{
			float: left;
		    width: 104px;
		    border: 1px dashed;
		    margin-top: 11px;
		    margin-right: 10px;
	    }
	}
	.nombre-team2{
		left: -25%;
	    display: block;
	    position: relative;
	    top: -6%;
	    z-index: 2;
	    background-color: #000;
	    width: -webkit-fit-content;
	    width: -moz-fit-content;
	    width: fit-content;
	    padding: 0 10px 0 0;
	    @media screen and (max-width: 991px){
		    	left: -3%;
		}

		hr{
			float: left;
		    width: 104px;
		    border: 1px dashed;
		    margin-top: 11px;
		    margin-right: 10px;
	    }
	}
	.nombre-team3{
		    right: -27%;
		    display: inline-block;
		    position: relative;
		    /*bottom: 33vh;*/
		    bottom: 240px;

		    z-index: 2;
		    background-color: #000;
		    width: -webkit-fit-content;
		    width: -moz-fit-content;
		    width: fit-content;
		    padding: 0 0px 0px 10px;
		    @media screen and (max-width: 991px){
			    bottom: 21vh;
		    }
		    @media screen and (max-width: 768px){
		    	right: -38%;
    			bottom: 218px;
		    }
		    @media screen and (max-width: 610px){
		    	right: -23%;
		    }
		    @media screen and (max-width: 414px){
		    	right: -3%;
		    }

		hr{
			float: right;
		    width: 104px;
		    border: 1px dashed;
		    margin-top: 11px;
		    margin-left: 10px;
	    }
	}
	.video-modal{
		background-color: rgba(0, 0, 0, 0.61);
		.modal-content {
		    background-color: transparent;
		    .modal-body {
			    padding: 0px;
			    text-align: center;

			    .close-modal{
			    	 background: none;
   					 border: none;
   					 &:hover{
   					 	    filter: hue-rotate(61deg);
   					 }
			    }
			}
		}
	}
	
	
} //fin body - estilos generales

.navegacion {
	border:2px solid;
	border-color: $griz;

	.tabl{
		
		border:1px solid;
	}
	.tabll{
		
	}
	.menu{
		ul{
			padding: 0px;
    		list-style: none;
		}
		.redes{
			margin-top: 4%;
			img {
			    max-height: 25px;
			    padding: 0 4px;
			}
		}
		
	}
	
} // fin navegacion

section.warning {
    background-color: #fff;
    margin-top: 10em;
    background-image: url(../img/negro-bg.svg),url(../img/negro-bg2.svg);
    background-position: center left,48vw 1vh;
    -webkit-background-size: 70% 55%,96% 89%;
    background-size: 70% 55%,96% 89%;
    background-repeat: no-repeat;
    @media screen and (max-width: 1024px){
    	background-size: 86% 50%,96% 80%;
    }
    @media screen and (max-width: 991px){
    	background-size: 86% 50%,86% 80%;
    	    background-position: -2% 12%, 100% 96%;
    }
    @media screen and (max-width: 768px){
	    background-size: 86% 50%,93% 69%;
	    background-position: 0% 3%,100% 94%;
    }
    .negativo{
    	margin-top: -6em;
    }
    img.somos{
    	position:relative;
    	z-index: 1;
    }
   /* img.textura {
		width: 100%;
	    /* height: 300px; */
	   /* position: relative;
	    bottom: -450px;
	    left: -60px;*/
	    /*z-index: -1;*/
	/*}*/
	.imagen:after {
	    content: "";
	    
	    background: url(../img/textura-pixel.svg);
	    display: block;
	    position: relative;
	    width: 100%;
	    height: 130px;
	    bottom: 60px;
	    left: -60px;

	}

}//fin warning

section.reel{
	background-color:#fff;

	.recuadro {
	   background: url(../img/fondo-video.png);
    	background-size: 100% 100%;
    	background-repeat: no-repeat;

    	.video-bar {
		    border: 1px solid #000;

		    p.progres {
			    background-image: url(../img/textura-02.png);
			    width: 95%;
			    height: 20px;
			    background-size: contain;	
			}
		}
	}

} //fin reel

section.hace{
	background-color: #0600AF;

	.col-central{
		border-left:4px double;
		border-right:4px double;
		@media screen and (max-width: 768px){
		    border:	4px double;
		}
	}
	fieldset {
	    border: 1px solid ;
	    background: none ;
	    legend{
	    	color: $amarillo;
	    	font-size: 1.3em;
	    	    width: 190px;
	    }
	    
	}
	.proyecto {
		    background-image: url(../img/img-ventana.png);
		    background-size: 100% 100%;
		    max-width: 330px;
    		width: 330px;
    		@media screen and (max-width: 320px){
    			width: 288px;
    		}

    		&:hover{
    			background-image: url(../img/img-ventana-seleccion.png);
    			.foot{
    				color:$negro;
    			}
    			
    		}

		    .head{
		    	height: 37px;
		    	@media screen and (max-width: 320px){
	    			height: 35px;
	    		}
		    	
		    }
		    .foot{
		    	padding-top: 12px;
			    height: 54px;
			    color: #0600AF;
			    font-size: 1.15em;
				@media screen and (max-width: 320px){
	    		    height: 47px;
	    		}
		    }
	}
	form {
	    border: 1px solid;

	    p.titulo {
		    border: 1px solid;
		}
		.cuerpo{
			border: 1px solid;
			input, textarea {
			    background: none;
			    border: none;
			    color: $cafe;
			    &::placeholder { color: $cafe; }
			}
			textarea{
				height: 200px;
				width: 100%;
			}	
			.mensaje{
				padding-left:15px;
				.titulo{
					vertical-align: top;
				}
			}
			.pie {
			    width: 100%;
			    hr {
				    width: 90%;
				    border: 1px dashed;
				    float: left;
				    margin-right: 10px;
				}
				input[type="button"] {
					&:hover{
					    color: $green;
					}
				}
			}
		}
	}
}// fin hace

footer{
	background-color:#fff;
	color: $black;
	ul.redes{
	 	li {
	 		text-align: center;
		    float: right;
		    width: 83px;
		    img{
		    	height: 40px;
			    width: 46px;
			    object-fit: contain;
			    margin-bottom: 10px;
		    }
		}
	}
}//fin footer


.modal-proyectos {
	.modal-content {
		border-radius:0px;
		border: 1px solid;
	    background-color: $negro;

	    .modal-header {
		    border: 1px solid;
		    border-radius: 0px;
		}
		.modal-body{
			border: 1px solid;

			.pie {
			    width: 100%;
			    hr {
				    width: 90%;
				    border: 1px dashed;
				    float: left;
				    margin-right: 10px;
				}
				input[type="button"] {
					&:hover{
					    color: $green;
					}
				}
			}
			p.dashed {
			    border-bottom: 1px dashed;
			    padding-bottom: 5px;
			    span{
			    	color: $cafe;
			    }
			}
			.content{
				p{
					color: $cafe;
					span{
						color: #fff;
					}
				}
			}
			blockquote {
			    font-size: 1.2em;

			    span{
			    	padding: 0px 3px 0 1px;
				    background-color: $amarillo;
				    margin-right: 10px;
				    height: 52px;
				    display: inline-block;
				    float: left;
				    color: #000;
			    }	
			}
			input[type="button"] {
				color: $cafe;
				background: none;
				border:none;
					&:hover{
					    color: $green;
					}
				}
		}
	}
	
}

// media querys
@media (min-width: 1200px){
	.container-fluid {
	    max-width: 1520px;
	}
}