// Add additional styles here. For example, overwrite certain styles or add new components.
// Tip: You can use bootstrap's powerful mixins here!


//.alert-myalert {
//  @include alert-variant(#60667d, #1d1d1d, #f4fdff);
//}

//@each $color, $value in $theme-colors {
//  .alert-#{$color} {
//    box-shadow: 3px 3px theme-color-level($color, -3);
//  }
//}

@font-face {
font-family: 'fixedsys';
font-style: normal;
font-weight: normal;
src: url('../fonts/FSEX300.woff') format('woff'),
	 url('../fonts/FSEX300.woff')  format('truetype');
}
body{
	font-family: 'fixedsys';
	background-color: $negro;
	color:	$griz;

	::selection {
	  color: $negro; 
	  background: $amarillo;
	}

	.amarillo{
		color: $amarillo;
	}
	.verde{
		color:$verde;
	}
	.azul{
		color: $azul;
	}
	.resaltado{
		background-color:$verde;
		color: $negro;
		    margin-right: 5px;
	}
	.progress{
		border: 2px solid;
    	border-radius: 0px;
    	height: 30px;
    	background-color: $negro;
    	width: 40%;
    	margin: 0 auto;

    	.progress-bar {
		    background-color: $griz;
		}
	}
	fieldset {
	    border-top: 2px dashed;
	    border-bottom: 2px dashed;
	    background: url(../img/linea-vertical-quienes-somos-16.svg), url(../img/linea-vertical-quienes-somos-16.svg);
    	background-position: left top, right top;
    	background-repeat-x: no-repeat;
	    /* padding: 3em; */
	    legend {
		    text-align: center;
		    width: 20%;
		}
	}
	.nombre-team{
		left: -25%;
	    display: block;
	    position: relative;
	    top: -15%;
	    z-index: 2;
	    background-color: #000;
	    width: fit-content;
	    padding: 0 10px 0 0;

		hr{
			float: left;
		    width: 104px;
		    border: 1px dashed;
		    margin-top: 11px;
		    margin-right: 10px;
	    }
	}
	.nombre-team2{
		left: -25%;
	    display: block;
	    position: relative;
	    top: -6%;
	    z-index: 2;
	    background-color: #000;
	    width: -webkit-fit-content;
	    width: -moz-fit-content;
	    width: fit-content;
	    padding: 0 10px 0 0;

		hr{
			float: left;
		    width: 104px;
		    border: 1px dashed;
		    margin-top: 11px;
		    margin-right: 10px;
	    }
	}
	.nombre-team3{
		    right: -35%;
		    display: inline-block;
		    position: relative;
		    bottom: 33vh;

		    z-index: 2;
		    background-color: #000;
		    width: -webkit-fit-content;
		    width: -moz-fit-content;
		    width: fit-content;
		    padding: 0 0px 0px 10px;

		hr{
			float: right;
		    width: 104px;
		    border: 1px dashed;
		    margin-top: 11px;
		    margin-left: 10px;
	    }
	}
}

.navegacion {
	border:2px solid;
	border-color: $griz;

	.tabl{
		
		border:1px solid;
	}
	.tabll{
		
	}
	.menu{
		ul{
			padding: 0px;
    		list-style: none;
		}
		.redes{
			margin-top: 4%;
			img {
			    max-height: 25px;
			    padding: 0 4px;
			}
		}
		
	}
	
} // fin navegacion

section.warning {
    background-color: #fff;
    margin-top: 10em;
    background-image: url(../img/negro-bg.svg),url(../img/negro-bg2.svg);
    background-position: center left,48vw 1vh;
    -webkit-background-size: 59% 58%,96% 89%;
    background-size: 59% 58%,96% 89%;
    background-repeat: no-repeat;
    .negativo{
    	margin-top: -6em;
    }
    img.somos{
    	position:relative;
    	z-index: 1;
    }
   /* img.textura {
		width: 100%;
	    /* height: 300px; */
	   /* position: relative;
	    bottom: -450px;
	    left: -60px;*/
	    /*z-index: -1;*/
	/*}*/
	.imagen:after {
	    content: "";
	    
	    background: url(../img/textura-pixel.svg);
	    display: block;
	    position: relative;
	    width: 100%;
	    height: 130px;
	    bottom: 60px;
	    left: -60px;

	}

}//fin warning

// media querys
@media (min-width: 1200px){
	.container-fluid {
	    max-width: 1520px;
	}
}